extensions:
    translation: Contributte\Translation\DI\TranslationExtension
    recaptcha: Contributte\ReCaptcha\DI\ReCaptchaExtension

translation:
    locales:
        whitelist: [en]
        default: en
        fallback: [en]
    dirs:
        - %appDir%/Config/languages
        - %appDir%/Config/languages/adminModule
        - %appDir%/Config/Languages/redactorModule
        - %appDir%/Config/Languages/webModule

recaptcha:
    secretKey: %dynamic.recaptcha.secretKey%
    siteKey: %dynamic.recaptcha.siteKey%