extensions:
    translation: Contributte\Translation\DI\TranslationExtension

translation:
    locales:
        whitelist: [en]
        default: en
        fallback: [en]
    dirs:
        - %appDir%/Config/languages
        - %appDir%/Config/languages/adminModule
        - %appDir%/Config/Languages/redactorModule
        - %appDir%/Config/Languages/webModule

