# This file is important part of web-system Bloggium and is neccesary for proper system working.
# If you don't know how to configure it, use a user-friendly configuration editor on project website (bottom link) or contact developer (author) of Bloggium.
# https://turyna.eu/blogium / Author: Milan Turyna milan@turyna.eu / 2020

database:
    system:
        dsn: 'mysql:host=localhost;dbname=turynacms'
        user: root
        password: kolokolo


